<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-1.11.0.js"></script>

<!-- jQuery Validate -->
<script src="js/jquery.validate.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Smooth Scroll -->
<script>
var $scrollTo;

function smoothScroll(section, hash) {
  if (section) $scrollTo = $('.content-section-' + section + ':first');
  else $scrollTo = $('.intro-header');
  
  $('html, body').animate({
    scrollTop: $scrollTo.offset().top
  }, 1000);
  
  document.location.hash = hash;
}
</script>

<!-- Setup Modal Trigger -->
<script>
$('[href="#contact"]').click(function() {
  $('#contactModal').modal('show');
});
</script>
  
<!-- Validate -->
<script>
$('#contact-form').validate({
  submitHandler: function(form) {
    event.preventDefault();
    $.post($(form).attr('action'), $(form).serialize());
    $('#contactModal').modal('hide');
    $('#formSuccess').slideDown();
  }
});
</script>
