<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Setup Modal Trigger -->
<script>
$('[href="#contact"]').click(function() {
  $('#contactModal').modal();
});
</script>

<!-- Post Form to Wufoo -->
<script>
  $('#contact-form').submit(function( event ) {
    // Stop form from submitting normally
    event.preventDefault();
    
    // Post to Wufoo
    $.post($(this).attr('action'), $(this).serialize() );
  });
</script>