<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="contactModalLabel">Contact Us:</h4>
      </div>
      <div class="modal-body">
        <form id="contact-form" name="form1" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
           action="https://migrantmachines.wufoo.com/forms/ziye8401xwiq60/#public">
           <ul>
              <li id="foli9" class="notranslate      ">
                 <label class="desc" id="title9" for="Field9">
                 Name
                 <span id="req_9" class="req">*</span>
                 </label>
                 <div>
                    <input id="Field9" name="Field9" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup=""       required />
                 </div>
              </li>
              <li id="foli11" class="notranslate      ">
                 <label class="desc" id="title11" for="Field11">
                 Email
                 <span id="req_11" class="req">*</span>
                 </label>
                 <div>
                    <input id="Field11" name="Field11" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="2"       required />
                 </div>
              </li>
              <li class="hide">
                 <label for="comment">Do Not Fill This Out</label>
                 <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                 <input type="hidden" id="idstamp" name="idstamp" value="mgVBmOZR9eYu07y8IN5hknkLDNYEyZrS1tDT+s/OcB8=" />
              </li>
           </ul>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="$('#contact-form').submit();">Continue</button>
      </div>
    </div>
  </div>
</div>